#header{
	padding: 12px 35px 0 35px;
	min-height: 48px;
	background: $black;
	padding: 0px;
	.title{
		padding: 0px !important;
		margin: 0px !important;
		text-align: center;
		color: white;
	}

	@media (max-width:853px){
		padding: 0 10px 0 10px;
		margin: 0px;
		width: 400px;
	};
};