#header{
	padding: 12px 35px 0 35px;
	min-height: 48px;
	background-color: $black;
	padding: 0px;
	text-align: center;
	padding-top: 10px;
	.title{
		img{
				width: 50px;
			}
			label{
				color: $white-dark;
				font-size: 22px;
				font-weight: bold;
			}
	}

	@media (max-width:853px){
		padding: 0 10px 0 10px;
		margin: 0px;
		width: 400px;
	};
};