$purple: #5856d6;
$grey: #8e8e93;
$secondGrey: #9D9D9D;
$red: #ff3b30;
$red-dark: #AB2B2B;
$orange: #ff9500;
$pink: #ff2d55;
$green: #4cd964;
$green-dark: #1FAC37;
$green-light: #72D672;
$blue: #007aff;
$light-blue: #34aadc;
$sky-blue: #5ac8fa; 