#home{
	margin-top: 20px;
	background-color: $black;
	.cards{
		div{
			padding: 0px;
			margin: 0px;
		}
		.card-2{
			background-color: $grey-dark;
			border: 1px solid $grey;
			border-radius: 4px;
			height: 290px;
			width: 44%;
			margin-right: 30px;
			margin-bottom: 30px;
		}
        .card-4{
            background-color: $grey-dark;
            border: 1px solid $grey;
            border-radius: 4px;
            height: 290px;
            width: 24%;
            margin-right: 30px;
            margin-bottom: 30px;
        }
	}
	.card-timeline{
		background-color: $grey-dark;
		border: 1px solid $grey;
		border-radius: 4px;
		height: 610px;
        overflow: scroll;
        overflow-x: hidden; 
        .title{
            color: $white-dark;
            border-bottom: 1px dotted $grey;
            text-align: center;
            font-size: 17px;
            font-weight: bold;
            padding-top: 5px;
        }
        .timeline {
            list-style: none;
            padding: 20px 0 20px;
            position: relative;
            color: $white-dark;
            li:nth-child(2n){
                .timeline-panel{
                    text-align: right;
                    float:right;
                    left: -47px;
                    .hour{
                        border-bottom: 1px solid $grey-dark;
                        background-color: yellow;
                        }
                    }
            }
		}

	    .timeline:before {
	        top: 0;
	        bottom: 0;
	        position: absolute;
	        content: " ";
	        width: 3px;
	        background-color: #eeeeee;
	        left: 50%;
	        margin-left: -1.5px;
	    }

	    .timeline > li {
	        margin-bottom: 20px;
	        position: relative;
	    }

	    .timeline > li:before,
	    .timeline > li:after {
	        content: " ";
	        display: table;
	    }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline{
        	li.timeline-inverted{
        		.timeline-panel{
        			text-align: right;
        			.hour{
            			border-bottom: 1px solid $grey-dark;
            			background-color: $red;
            			}
            		}
        	}
        }

        .timeline > li > .timeline-panel {
            width: 35%;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 5px;
            padding: 0px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.29);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.29);
            top: -10px;
            left: 50px;
            .hour{
            	border-bottom: 1px solid $grey-dark;
            	border-top-left-radius: 5px;
            	border-top-right-radius: 5px;
            	background-color: $green;
            	label{
            		font-size: 1.3em;
            		font-weight: bold;
            		margin-bottom: 0px;
            	}
            }
            .value{
            	label{
            		font-size: 2em;
            		font-weight: bold
            	}
            }  	
        }
	        

        .timeline > li > .timeline-panel:before {
            position: absolute;
            top: 26px;
            right: -15px;
            display: inline-block;
            border-top: 15px solid transparent;
            border-left: 15px solid #ccc;
            border-right: 0 solid #ccc;
            border-bottom: 15px solid transparent;
            content: " ";
        }

        .timeline > li:nth-child(2n) > .timeline-panel:before {
            position: absolute;
            top: 26px;
            right: 177px;
            display: inline-block;
            border-top: 15px solid transparent;
            border-left: 0 solid #ccc;
            border-right: 15px solid #ccc;
            border-bottom: 15px solid transparent;
            content: " ";
        }

        .timeline > li > .timeline-panel:after {
            position: absolute;
            top: 27px;
            right: -14px;
            display: inline-block;
            border-top: 14px solid transparent;
            border-left: 14px solid #fff;
            border-right: 0 solid #fff;
            border-bottom: 14px solid transparent;
            content: " ";
        }

        .timeline > li:nth-child(2n) > .timeline-panel:after {
            position: absolute;
            top: 26px;
            right: 177px;
            display: inline-block;
            border-top: 15px solid transparent;
            border-left: 0 solid #ccc;
            border-right: 14px solid #ccc;
            border-bottom: 15px solid transparent;
            content: " ";
        }

        .timeline > li > .timeline-badge {
            color: #fff;
			width: 30px;
			height: 30px;
			line-height: 50px;
			font-size: 1.4em;
			text-align: center;
			position: absolute;
			top: 16px;
			left: 51.7%%;
			margin-left: -169px;
			background-color: #999999;
			z-index: 100;
			border-top-right-radius: 50%;
			border-top-left-radius: 50%;
			border-bottom-right-radius: 50%;
			border-bottom-left-radius: 50%;
			left: 407px;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
            left: -50px;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

		.timeline-badge.primary {
		    background-color: #2e6da4 !important;
		}

		.timeline-badge.success {
		    background-color: $green !important;
		    border: 3px solid $green-dark;
		}

		.timeline-badge.warning {
		    background-color: #f0ad4e !important;
		}

		.timeline-badge.danger {
		    background-color: $red !important;
		    border: 3px solid $red-dark;
		}

		.timeline-badge.info {
		    background-color: #5bc0de !important;
		}

		.timeline-title {
		    margin-top: 0;
		    color: inherit;
		}

		.timeline-body > p,
		.timeline-body > ul {
		    margin-bottom: 0;
		}

		    .timeline-body > p + p {
		        margin-top: 5px;
		    }

		@media (max-width: 767px) {
		    ul.timeline:before {
		        left: 40px;
		    }

		    ul.timeline > li > .timeline-panel {
		        width: calc(100% - 90px);
		        width: -moz-calc(100% - 90px);
		        width: -webkit-calc(100% - 90px);
		    }

		    ul.timeline > li > .timeline-badge {
		        left: 15px;
		        margin-left: 0;
		        top: 16px;
		    }

		    ul.timeline > li > .timeline-panel {
		        float: right;
		    }

		        ul.timeline > li > .timeline-panel:before {
		            border-left-width: 0;
		            border-right-width: 15px;
		            left: -15px;
		            right: auto;
		        }

		        ul.timeline > li > .timeline-panel:after {
		            border-left-width: 0;
		            border-right-width: 14px;
		            left: -14px;
		            right: auto;
		        }
		}
	};
};
