#home
	.col-md-12
		.col-md-6.cards
			.col-md-12
				.col-md-3.card
				.col-md-3.card
			.col-md-12
				.col-md-3.card
				.col-md-3.card
		.col-md-6.card-timeline
			.col-md-12.title
				lable Timeline
			ul.col-md-12.timeline        
				li
					.timeline-badge.success
					.timeline-panel.col-md-12
						.col-md-12.hour
							label 00:00-00:01
						.col-md-12.value
							label 0.011765 €
				li.timeline-inverted
					.timeline-badge.danger
					.timeline-panel.col-md-12
						.col-md-12.hour
							label 00:01-00:02
						.col-md-12.value
							label 0.011765 €
				li
					.timeline-badge.success
					.timeline-panel.col-md-12
						.col-md-12.hour
							label 00:00-00:01
						.col-md-12.value
							label 0.011765 €
				li.timeline-inverted
					.timeline-badge.danger
					.timeline-panel.col-md-12
						.col-md-12.hour
							label 00:01-00:02
						.col-md-12.value
							label 0.011765 €
				li
					.timeline-badge.success
					.timeline-panel.col-md-12
						.col-md-12.hour
							label 00:00-00:01
						.col-md-12.value
							label 0.011765 €