#timeline
	.col-md-12.col-xs-12.header-timeline
		.col-md-12.col-xs-12.title
			h1 Timeline
		.col-md-12.col-xs-12.body-timeline
			.col-md-12.col-xs-12.info-timeline
				.col-md-3.col-xs-3
					i.glyphicon.glyphicon-send
					label 4 Mensajes
				.col-md-3.col-xs-3
					i.glyphicon.glyphicon-calendar
					label 10 Nov
				.col-md-3.col-xs-3
					i.glyphicon.glyphicon-bell
					label 3 Alertas
				.col-md-3.col-xs-3
					i.glyphicon.glyphicon-refresh
					label Actulizar
			.col-md-12.col-xs-12.filter
				.col-md-4.col-xs-4.date-filter
					input.form-control
					sapn.input-group-btn
						button.btn.btn-default
							i.glyphicon.glyphicon-calendar
				.col-md-4.col-xs-4.rate-filter
					select
						option -- Tarifa --
						option Normal
						option Nocturna
				.col-md-4.col-xs-4.location-filter
					select
						option -- Provincia --
						option Peninsula
						option Canarias
	.col-md-12.col-xs-12.day-timeline
		.page-header
			h1 21/05/2014
		ul.timeline
			li
				.timeline-badge.success
				.timeline-panel.col-md-12.col-xs-12
					.timeline-heading.col-md-3.col-xs-3
						.col-md-6.col-xs-6.big
							label 21
						.col-md-6.col-xs-6.small
							label Mayo
					.timeline-body.col-md-9.col-xs-9
						.col-md-8.col-xs-8
						.col-md-4.col-xs-4.value-div
							.circle-value
			li.timeline-inverted
				.timeline-badge.danger
				.timeline-panel.col-md-12.col-xs-12
					.timeline-body.col-md-9.col-xs-9
						.col-md-8.col-xs-8
						.col-md-4.col-xs-4.value-div
							.circle-value
					.timeline-heading.col-md-3.col-xs-3
						.col-md-6.col-xs-6.big
							label 21
						.col-md-6.col-xs-6.small
							label Mayo


