#timeline(ng-controller = "TimelineCtrl")
	.col-md-12.col-xs-12.header-timeline
		.col-md-12.col-xs-12.title
			h2 Timeline
		.col-md-12.col-xs-12.body-timeline
			.col-md-12.col-xs-12.info-timeline
				.col-md-3.col-xs-3
					i.glyphicon.glyphicon-send
					label 4 Mensajes
				.col-md-3.col-xs-3
					i.glyphicon.glyphicon-calendar
					label 10 Nov
				.col-md-3.col-xs-3
					i.glyphicon.glyphicon-bell
					label 3 Alertas
				.col-md-3.col-xs-3
					i.glyphicon.glyphicon-refresh
					label Actulizar
			.col-md-12.col-xs-12.filter
				.col-md-4.col-xs-4.date-filter
					input.form-control(type="text", datepicker-popup="{{format}}", ng-model="dt",ng-click="open($event)", is-open="opened", min-date="minDate", ng-required="true", close-text="Close")
					span.input-group-btn
						button.btn.btn-default(type="button", ng-click="open($event)")
							i.glyphicon.glyphicon-calendar
				.col-md-4.col-xs-4.rate-filter
					select
						option -- Tarifa --
						option Normal
						option Nocturna
						option Vehiculo Electrico
				.col-md-4.col-xs-4.location-filter
					select
						option -- Zona Escrotal --
						option Peninsula
						option Canarias
	.col-md-12.col-xs-12.day-timeline
		.page-header
			h1(ng-model = "dt") {{dt}}
		ul.col-md-6.timeline		
			li
				.timeline-badge.success
				.timeline-panel.col-md-12.col-xs-12
					.col-md-12.col-xs-12.hour
						label 00:00-00:01
					.col-md-12.col-xs-12.value
						label 0.011765 €
			li.timeline-inverted
				.timeline-badge.danger
				.timeline-panel.col-md-12.col-xs-12
					.col-md-12.col-xs-12.hour
						label 00:01-00:02
					.col-md-12.col-xs-12.value
						label 0.011765 €
			li
				.timeline-badge.success
				.timeline-panel.col-md-12.col-xs-12
					.col-md-12.col-xs-12.hour
						label 00:00-00:01
					.col-md-12.col-xs-12.value
						label 0.011765 €
			li.timeline-inverted
				.timeline-badge.danger
				.timeline-panel.col-md-12.col-xs-12
					.col-md-12.col-xs-12.hour
						label 00:01-00:02
					.col-md-12.col-xs-12.value
						label 0.011765 €
		.col-xs-6.legend
			.cheap
				.title
					label Mas barato
				.value
					label 15:00 - 16:00  0.09456
					label 15:00 - 16:00  0.09456
					label 15:00 - 16:00  0.09456
			.expensive
				.title
					label Mas caro
				.value
					label 15:00 - 16:00  0.09456
					label 15:00 - 16:00  0.09456
					label 15:00 - 16:00  0.09456

