.header
	h1 JOCAMI SCAFFOLDING
.body
	p Scaffolding develop for JOCAMI, include:
	ul
		li Grunt Task Runner
		li Bower Package Manager
		li JQuery / JQuery-ui
		li Angular / Angular-ui
		li SASS
		li Bootstrap 3
		li UI-Bootstrap
		li Underscore
	p.note  * Based on Yeoman Angular Generator
.footer
	i.glyphicon.glyphicon-heart
	span form the JOCAMI team